*
{
    font-family: Calibri;
    color: #ffc974;
    margin: 0 auto;
    font-size: 16px;
}
body
{
    background: #000000 url("../images/bg.png") repeat center;
    border: 1px solid #f2e297;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    width: 1110px;
    margin-top: 10px;

}
a, a:hover, a:link, a:visited img
{
    text-decoration: none;
    border: none;

}
img, div
{
    behavior:  url("iepnngfix/iepngfix.htc");
}
.year
{
  float: left;
  margin: -171px -4px;
  position: relative;
  z-index: 4;
}
.header_logo
{
    float: left;
    margin: -165px 10px;
    z-index: 3;
    position: relative;
}
.logo_shadow
{
    background: url("../images/logo_shadow.png") no-repeat;
    width: 725px;
    height: 253px;
    position: absolute;
    margin: -167px 120px;
}
.header_picture
{
    background:
        url("../images/bullets.png") no-repeat,
        url("../images/header_picture1.png") no-repeat;
    width: 465px;
    height: 427px;
    margin: -176px 654px;
    position: relative;
    z-index: 4;
}
.header_title
{
    display: block;
    text-align: center;
    position: absolute;
    margin: 5px 435px;
    color: #feb957;
    z-index: 3;
}
.line
{
    background: url("../images/line.png") no-repeat;
    height: 20px;
    width: 974px;
    margin-right: 5px;
    margin-top: 6px;
    position: relative;
    z-index: 1;
}
.line2
{
    border-right: 1px solid #8a8989;
    width: 1px;
    height: 150px;
    margin-top: -8px;
    margin-right: 8px;
    position: relative;
    z-index: 2;
}
.left_bg
{
    background: url("../images/left_bg.png") no-repeat;
    height: 907px;
    width: 170px;
    margin: -242px 1px;
    z-index: 2;
    float: left;
    position: relative;

}
.pipe
{
    position: absolute;
    background: url("../images/pipe.png") no-repeat;
    width: 740px;
    height: 20px;
    z-index: 3;
    top: 235px;
}
#projectors
{
    background: url("../images/projectors_no_light.png") no-repeat;
    position: absolute;
    width: 120px;
    height: 105px;
    z-index: 3;
    top: 240px;
    margin-left: 10px;
}
.projectors_light
{
    display: none;
    background: url('../images/projectors_light.png') no-repeat;
    width: 230px;
    position: absolute;
    height: 150px;
    z-index: 3;
    margin: 28px 58px;
}
.date_position
{
    z-index: 4;
    position: relative;
    float: left;
    color: #ffe88b;
    text-align: center;
    margin: 110px -140px;
}
/*main menu*/
.menu_catalog
{
    background: url("../images/menu_images/catalog.png") no-repeat;
}
.menu_catalog:hover
{
    background: url("../images/menu_images/catalog_hover.png") no-repeat;
}
.menu_title
{
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}
.menu_galery
{
    background: url("../images/menu_images/gallery.png") no-repeat;
}
.menu_galery:hover
{
    background: url("../images/menu_images/gallery_hover.png") no-repeat;
}
.menu_margins
{
    width: 77px;
    height: 52px;
    margin-top: 17px;
}
.float_left
{
    float: left;
}
.item_margins
{
    margin-right: 12px;
    position: relative;
    z-index: 4;
}
.menu_trailers
{
    background: url("../images/menu_images/trailers.png") no-repeat;
    margin-right: 4px;
}
.menu_trailers:hover
{
    background: url("../images/menu_images/trailers_hover.png") no-repeat;
    margin-right: 4px;
}
.menu_novinki
{
    background: url("../images/menu_images/novinki.png") no-repeat;
}
.menu_novinki:hover
{
    background: url("../images/menu_images/novinki_hover.png") no-repeat;
}
.menu_sotrudniki
{
    background: url("../images/menu_images/sotrudniki.png") no-repeat;
    margin-top: 7px;
    height: 62px;
}
.menu_sotrudniki:hover
{
    background: url("../images/menu_images/sotrudniki_hover.png") no-repeat;
    margin-top: 7px;
    height: 62px;
}
.menu_about_us
{
    background: url("../images/menu_images/aboutUs.png") no-repeat;
}
.menu_about_us:hover
{
    background: url("../images/menu_images/aboutUs_hover.png") no-repeat;
}
#main-header-menu
{
    background: url("../images/header_menu_bg.png") no-repeat;
    width: 750px;
    height: 110px;
    position: absolute;
    top: 265px;
    margin-left: 160px;
}
ul
{
    list-style: none;
}
#main-header-menu ul li
{
    float: left;
}
#main-header-menu span
{
    display: block;
}
/*end of main menu*/
/*definition*/
.definition
{
    color: #ffffff;
    position: absolute;
    margin-top: 155px;
    margin-left: 175px
}
.definition_bg
{
    background: url("../images/definition_bg.png") no-repeat;
    width: 720px;
    height: 30px;
    position: absolute;
    margin-top: 152px;
    margin-left: 240px;
}
.definition > span
{
    color: #feb957;
}
/* end of definition*/
/*left_header_menu*/
#left_header_menu ul
{
    display: inline-block;
    margin-top: 200px;
    margin-left: -50px;
    float: left;
    z-index: 2;
    position: relative;

}
#left_header_menu .item_menu
{
    margin-bottom: 18px;
}
#left_header_menu  span
{
    color: #ffffff;
    display: block;
    position: absolute;
    margin: -28px 20px;
    font-size: 19px;
}
#left_header_menu .menu_border
{
    border: 1px #f9b655 solid;
    width: 262px;
    height: 30px;
    border-radius: 5px;
    background-color: #1f180e;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    opacity: 0.5;
    -moz-opacity: 0.5; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0.5; /* Konqueror 3.1, Safari 1.1 */
}
#left_header_menu .menu_image_hover
{
    background: url("../images/left_header_menu_hover.png") no-repeat;
    width: 280px;
    position: absolute;
    margin: -41px -8px;
    height: 50px;
    visibility: hidden;
}
#left_header_menu li:hover div.menu_image_hover
{
   visibility: visible;
}
.item_margin_cat
{
    position: relative;
    left: -10px;
}
.item_margin_tr
{
    position: relative;
    left: -20px;
}
.item_margin_st_ct
{
    position: relative;
    left: -25px;
}
.item_margin_vd
{
    position: relative;
    left: -20px;
}
.item_margin_ms
{
    position: relative;
    left: -10px;
}
.item_margin_fg
{
    position: relative;
    left: 0px;
}
.item_margin_of
{
    position: relative;
    left: 15px;
}
.item_menu_line
{
    background: url("../images/item_menu_line.png") no-repeat;
    position: absolute;
    width: 250px;
    height: 30px;
    margin: -18px -25px;
}
/*end of left_header_menu*/
/* middle header slider*/
#mid_picture
{
   text-align: center;
   position: relative;
   margin-top: 200px;
   z-index: 1;
}
#mid_picture span
 {
     display: inline-block;
 }
#mid_picture span:nth-child(1)
{
    color:  #ff0f0f;
    font-weight: bold;
    margin-bottom: 40px;
    margin-right: 25%;
}
/*end of middle header slider*/