<div class="disc float_left">
    <a href="#"> {% media  disc.poster, 'big' with {'class': 'poster'}%}<br>
        <span>{{ disc.name }}</span></a>
    <a href="#"> {% media  disc.poster, 'big' with {'class': 'poster'}%}<br>
        <span>{{ disc.name }}</span></a>
    <a href="#"> {% media  disc.poster, 'big' with {'class': 'poster'}%}<br>
        <span>{{ disc.name }}</span></a>
    <a href="#"> {% media  disc.poster, 'big' with {'class': 'poster'}%}<br>
        <span>{{ disc.name }}</span></a>
</div>


